[Desktop Entry]
Type=Application
Name=GNOME Theme Manager
Comment=Manage GTK, Shell, Icon, and Cursor themes on GNOME
Exec=gnome-theme-manager --gui
Icon=io.github.granafilo.ThemeManager
Terminal=false
Categories=GTK;Settings;
Keywords=theme;gtk;icon;cursor;gnome;settings;
MimeType=application/vnd.appimage;
StartupNotify=true
